<nav class="navbar">
<div class="container-fluid">
  <div>
    <a class="navbar-brand" href="#"><i class="fa-solid fa-clapperboard"></i></a>
  </div>
  <div class="links">
    <a href="#">My Lists</a>
     <%= link_to 'Create List', new_list_path %>
  </div>
</div></nav>
</nav>
